/* CSS Document */
/* Author: Sheikh Imtiaz Hossain */
/* Last Updated: 18-06-2012 Monday */
/*body{margin:0px;background:url("../images/dep_1159166-White-straw-pattern.jpg") repeat scroll left top transparent;color:#444;font:11px "Trebuchet MS","Lucida Grande",Verdana,sans-serif;}*/
#topBody{}
#login_body_container label{display:block;float:left;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;font-size:14px;margin:0 6px 0 0;padding:1px 1px 1px 2px;text-align:left;width:100%;}
der:none;}
#login_body{margin:0px auto 0;}

.login li a, .login li a:visited{color:#666;}
.login li a:hover{color:#222;text-decoration:underline;}

#login_container{border:solid 1px #ccc;padding:10px;width:97.3%;height:auto;margin:0 auto;display:block;float:left;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;}
* html #login_container{padding:10px;width:97.3%;height:auto;margin:0 auto;display:block;float:left;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;}
#login_body_container{margin-left:15px;text-align:left;width:90%;}
#login_button a, #login_button a:visited{color:#666;}
#login_button a:hover{color:#222;text-decoration:underline;}
.login_input_text{width:180px;border-color:#7C7C7C #C3C3C3 #DDDDDD;border-style:solid;border-width:1px;}
.login_button{width:60px;    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #ffffff, #4787ED);
    border: 1px solid #3079ED;padding-bottom:3px;
    color: #FFFFFF;font-weight: bold;height:25px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);}

.login_button:hover{font-weight: bold;background-color: #357AEB;border: 1px solid #2f5bb7;background-image: -moz-linear-gradient(center top , #4D90FE, #357AEB);cursor:pointer;}
.login_button1{width:60px;    background-color: #4D90FE;
    /*background-image: -moz-linear-gradient(center top , #ffffff, #4787ED);*/
    background-image: -moz-linear-gradient(center top , #E5F7FD, #9ADFFA);
    border: 1px solid #3079ED;padding-bottom:3px;
    color: #0286B7;font-weight: bold;height:10px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);}
.organization_name{font-size:10px;font-weight:normal;margin:-25px 5px 0px 5px;padding:0px 0px 0px 0px;}
input{border:1px solid #CECECE;font-family:'Trebuchet MS',Verdana,Arial,Helvetica,sans-serif;font-size:11px;padding:2px;width:277px;border-color:#7C7C7C #C3C3C3 #DDDDDD;border-style:solid;border-width:1px;}
input:focus{background-color:#E2F1FA;border:1px solid #5EB0E5;}
#loginBg{float:left;width:100%;height:auto;}
#loginMainHeader{background:url("../images/header_bg.jpg") repeat-x scroll left top transparent;width:100%;height:100px;margin:0;padding:0px;}
#loginHeader{width:100%;height:55px;float:left;border-bottom:1px solid #C2C1C1;}
#logoProduct{margin:0 0 0 0px;width:auto;height:auto;float:left;}
#logoOrganization{text-shadow:0 2px 3px #B4B4B4;width:100%;height:auto;float:right;}
#loginBody{float:left;height:auto;margin:30px 10px;width:100%;}
#loginFooter{width:100%;height:auto;float:left;}
.borderTop{padding-bottom:15px;}
.companyLink{color:#444;text-decoration:none;}
#login_body_containers{margin:5% auto;height:auto;width:750px;-moz-border-radius:7px 7px 7px 7px;-webkit-border-radius:7px;-khtml-border-radius:7px;border-radius:7px;}
#login_body_left{-moz-border-radius:7px 7px 7px 7px;border-radius:7px;-webkit-border-radius:7px;-o-border-radius:7px;border:1px solid #CFCFCF;color:#444444;display:inline;float:left;font-size:16px;height:auto;padding:12px 20px;text-shadow:0 1px 2px #626161;font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;width:45%;}
* html #login_body_left{border:solid 1px red;-moz-border-radius:7px 7px 7px 7px;border-radius:7px;-webkit-border-radius:7px;-o-border-radius:7px;border:1px solid #CFCFCF;color:#444444;display:inline;float:left;font-size:16px;height:auto;padding:12px 20px;text-shadow:0 1px 2px #626161;font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;width:45%;}
#login_body_right{-moz-border-radius:0 7px 7px 0;border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;-o-border-radius:0 7px 7px 0;border-left:1px solid #AAAAAA;display:inline;float:left;margin-left:25px;text-align:right;width:45%;}
.login_title{display:block;font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;font-size:26px;padding:10px 0 10px 10px;text-align:right;width:55%;}
#capcha{padding:5px;width:93%;border:1px solid #BCBCBC;height:100px;float:left;-moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;background-color:#FCFCFC;margin:5px 0px 10px 0px;}
#logoHeader{border:solid 1px blue;float:left;width:40%;}
* html .errorLogin{
	margin: 0 0 0 17px;
	float:left;
}
.errorLogin{
    -moz-border-radius: 3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	background: url("<?php echo base_url();?>media/images/Info_icon.png") no-repeat scroll 4px 2px #F4F4F4;
    border: 1px solid #A9A9A9;
    color: #F54545;
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    height: auto;
    margin: 0 0 0 17px;
    padding: 3px 5px 3px 25px;
    text-align: left;
    white-space: normal;
    width: 77.5%;
}
.product_name_large{font-family:times New Roman;color:#222;display:block;width:100%;font-size:42px;font-weight:bold;margin:0px 0px 0px 0px;padding: 0 0 0 0px;text-align:center;text-shadow:0 1px 2px #DADADA;}
.specialHints_1{color:#666666;display:block;}
#login_body_container_top_head{float:left;margin-bottom:20px;border:solid 0px red;width:100%;}
#login_body_top_head_logo{margin:0 auto;border:solid 0px red;width:100%;}

.product_logo_image{width:70px;float:left;margin:0px;}
